@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Helvetica;
}

#root > div {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 8px;
//   justify-content: center;
// }

.gallery {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
}

.header-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin: 0;
}

.sm-photo-card {
  object-fit: cover;
}

.landscape {
  aspect-ratio: 3 / 2;
  max-width: 500px;
}

.portrait {
  aspect-ratio: 2 / 3;
  max-width: 500px;
}

.sm-photo {
  width: 100%;
  // aspect-ratio: 3 / 2;
  // border-radius: 4px;
  filter: contrast(0.9);
}

.sm-photo:hover {
  filter: contrast(1);
}

.full-photo {
  // height: 80vh;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin: 8px auto;
}

.full-div {
  width: 100%;
  grid-column: 1/4;
}

// BASIC

.gallery-ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 8px;
}

.photo-li {
  height: 30vh;
  flex-grow: 1;
  list-style: none;

}

.photo-li:last-child {
  // There's no science in using "10" here. In all my testing, this delivered the best results.
  flex-grow: 10;
}

.photo-li > img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

// ADVANCED

// Portrait

@media (max-aspect-ratio: 1/1) {
  .photo-li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  .photo-li {
    height: 80vh;
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .gallery-ul {
    flex-direction: row;
  }

  .photo-li {
    height: auto;
    width: 100%;
  }
  .photo-li > img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
